{{<govuk_template}}

{{$pageTitle}}
  Purchase Confirmation
{{/pageTitle}}

{{$head}}
  {{>includes/head}}
  <link href="/public/vendor/leaflet/leaflet.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/alphagov-static.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/land-registry-elements.css" media="screen" rel="stylesheet" type="text/css" />

  <style type="text/css">
  .payment-summary {
    padding: 15px;
    border: 8px solid #DEE0E2;
  }
  .payment-successful {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #30a197;
  text-align: center; }

.payment-successful h3 {
  color: white;
  font-size: 2em;
  font-weight: bold; }

.payment-successful h4 {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px; }
  </style>
{{/head}}

{{$content}}

<main id="content" role="main">

  {{>digital-register/includes/banner}}
  
  <div class="column-full">
     <div class='payment-successful'>
      <h3>&#10004;&nbsp;Your payment has been successful</h3>
      <h4>Reference number:</h4>
      <h3>43236WPGV</h3>
    </div>
    
    <h2 class="heading-medium">What happens next?</h1>
      <span>We will email you a receipt shortly to <b>darcy.bloggs@gmail.com</b></span><br>
    <h1 class="heading-medium">Payment summary</h1>
      <dl class="definition-tabular">
        <dt>Payment of</dt>
          <dd><b>Summary of Title Register</b></dd>
        <dt>Amount paid</dt>
          <dd><b>&pound;1.00</b></dd>
      </dl>
    </br>
      <a href="register-view" class="button">Next</a>
  </div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="/public/javascripts/stick-at-top-when-scrolling.js"></script>
  <script type="text/javascript" src="/public/javascripts/stop-scrolling-at-footer.js"></script>
  <script type="text/javascript">
    $(function() {

      // stop the position:fixed subnav rolling into footer
      GOVUK.stopScrollingAtFooter.addEl($('.js-stick-at-top-when-scrolling'), $('.js-stick-at-top-when-scrolling').height());

    });
  </script>
{{/bodyEnd}}

{{/govuk_template}}
