{% macro render_field(field) %}
  <div class="form-group{% if field.errors %} error{% endif %}">
    {% if field.name == "email" %}
      <label for="{{ field.name }}" class="form-label-bold">{{ field.label }}</label>
      <div class="form-hint">
        We'll send your payment confirmation here
      </div>
      {{ field(**kwargs)|safe }}
    {% else %}
      <label for="{{ field.name }}" class="form-label-bold">{{ field.label }}</label>
      {{ field(**kwargs)|safe }}
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_group_field(field) %}
  <div class="{% if field.errors %} error{% endif %}" style="display:inline-block">
      {% if field.name == "card_security_code" %}
        {{ field.label(class="label", style="font-weight:700;") }}</br>
        <div class="form-hint">
          This is the 3 digit code on the back of your card</br>
        </div>
        {{ field(**kwargs)|safe }}
        <img src="static/images/card-security-icon.png" alt="card security icon" style="float:right">
      {% else %}
        {{ field.label }}</br>
        {{ field(**kwargs)|safe }}
      {% endif %}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      {% endif %}
  </div>
{% endmacro %}
