{% extends "layout.html" %}

{% block body %}
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Available documents</h1>
      <form action="{{ url_for('chosen_documents', title_number=title.number, page=display_page_number, search_term=search_term) }}" method="post">
        <div>
          <input type="checkbox" name="documents" value="title_register"> <strong>Title register £3.00</strong>
          <p>Full details about the property or land, including who owns it and any rights of way.</p>
        </div>
        <div>
          <input type="checkbox" name="documents" value="title_plan"> <strong>Title plan £3.00</strong>
          <p>The property's locations and general boundaries, prepared on the latest Ordnance Survey map available aty the time of registration.</p>
        </div>
        <div>
          <input type="submit" value="Buy selected documents" class="button">
        </div>
      </form>
    </div>

    <div class="column-third">
      <div class="panel-simple">
        <div>
          <p>
            Title number<br/>
            {{ title.number }}
          </p>
        </div>
        <div>
          <p>{{ '<br>'.join(title.address_lines)|safe }}</p>
        </div>
        {% if not is_caution_title %}
          <div>
            <p>{{ title.tenure }}</p>
          </div>
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
