{% extends "imports.html" %}

{% block body %}
  {% if is_caution_title %}
    <span class="alert-flag-hi-viz">Caution against first registration</span>
    <br>
  {% endif %}

  <div class="grid-row">

    <div class="column-half">

      <div id="map">
        <div class="panel-simple">
          <p>The map relies on JavaScript being enabled in your browser.</p>
        </div>
      </div>
      <a href="{{ url_for('find_titles', title_number=title_number, search_term=search_term, page=display_page_number, products=products_string) }}">Back to search results</a>
    </div>

    <div class="column-half">
      {% if title.address_lines %}
        <h1 class="heading-xlarge collapse-bottom">{{ title.address_lines[0] }}</h1>
        <p class="lede collapse-top">
          {{ '<br>'.join(title.address_lines[1:])|safe }}
        </p>
      {% else %}
        <h1>No recorded address for this title</h1>
      {% endif %}


      <dl class="definition-tabular expand-top-half">
        {% if not is_caution_title %}
          <dt>Tenure type</dt>
          <dd><b>{{ title.tenure }}</b></dd>
        {% endif %}

        <dt>Title number</dt>
        <dd><b>{{ title.number }}</b></dd>
      </dl>

      <a href="{{ url_for('choose_has_account', title_number=title.number, search_term=search_term, page=display_page_number) }}" class="button">Next</a>

    </div>

  </div>

{% endblock %}

{% block js_bottom %}
  <script type='text/javascript'>
    var indexData = {{ title.indexPolygon | tojson }}
  </script>
  <script type='text/javascript'>
    $(function() {
      // stop the position:fixed subnav rolling into footer
      GOVUK.stickAtTopWhenScrolling.init();
      GOVUK.stopScrollingAtFooter.addEl($('.js-stick-at-top-when-scrolling'), $('.js-stick-at-top-when-scrolling').height());
    });
  </script>
  <script src="/static/javascripts/map.js"></script>
{% endblock %}
