{% extends "layout.html" %}

{% block body %}
  <div class="outer-block">
    <div class="inner-block">
      <h1 class="heading-xlarge">Sign in</h1>
      <p>Have you used this service before?</p>
      <form action="{{ url_for('chosen_has_account', title_number=title_number, search_term=search_term, page=display_page_number, products=products_string) }}" method="post">
        <div>
          <span>
            <input type="radio" name="has_account" value="yes"> Yes
          </span>
          <span>
            <input type="radio" name="has_account" value="no"> No
          </span>
        </div>
        <div>
          <input type="submit" value="Continue" class="button">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
